@import "fonts";
@import "reset";

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  h1 {
    font-size: 50px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    height: 50px;
  }
}
